<mat-card>
    <mat-card-header>
        <mat-card-title>Esta seguro de eliminar esta venta?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <b>Fecha Venta: {{venta.fechaVenta}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Cliente: {{venta.clienteId}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Producto: {{venta.productoId}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Descuento: {{venta.descuento}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>
    
    <mat-card-actions>
        <button mat-flat-button (click)="cancel()">Cancelar</button>
        <button mat-raised-button color="warn" (click)="confirmar()">Confirmar</button>
    </mat-card-actions>
    
</mat-card>